* {
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  width: 100vw;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);

  overscroll-behavior-y: none;
  overflow: auto;
}

[data-rbd-draggable-id] {
  top: auto !important;
  left: auto !important;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  box-sizing: content-box;
  padding: 0;
  cursor: pointer;
}
